[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dnspython = "*"
pycryptodome = "*"
typing-extensions = "*"
certifi = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pylint = "*"
python-dotenv = "*"

[requires]
python_version = "3.11"

[scripts]
test = "python -m pytest tests/"
type-check = "mypy ./"
lint = "pylint ./"
